<h1>welcome to Bookers!</h1>
<br><p>InBookers,</p>
<br><p>you can share and exchange your opinions , inpressions , and emotions</p>
<br><p>about various books!</p>


      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>